In [1]:
original_price = 120.00
current_price = 140.00

In [2]:
increase = current_price - original_price

In [3]:
percentage_increase = increase / original_price * 100

In [5]:
print(f"Apple's original stock price was ${original_price}")
print(f"Apple's current stock price is ${current_price}")

Apple's original stock price was $120.0
Apple's current stock price is $140.0

In [10]:
print(f"Percentage increase of Apple's stock is {round(percentage_increase,2)}%")

Percentage increase of Apple's stock is 16.67%

In [15]:
print(f"Percentage increase of Apple's stock is {percentage_increase:.2f}%")

Percentage increase of Apple's stock is 16.67%

In [17]:
x = 6
y = 10
if 2* x > 10:
    print("Question  1 works!")
else:
    print("Oooo needs some work")

Question  1 works!

In [19]:
x = 2
y = 10
if len("dog") < x:
    print("Question 2 works!")
else:
    print("Still missing out")

Still missing out

In [21]:
age = 19
if age > 18:
    print("You are of drinking age!")
else:
    print("Aggggh! you think you can hoodwink me, matey?! You're too young to drink")

You are of drinking age!

In [25]:
x = 2
y = 10
if  not (x ** 3 >= y) and not (y ** 2 < 26):
    print("GOT QUeSTION 4!")
else:
    print("Oh good you can count")

GOT QUeSTION 4!

In [26]:
print(type(original_price))

<class 'float'>

In [28]:
height = 66
age = 16
adult_permission = True

if (height > 70) and (age >= 18):
    print("Can ride all the roller coasters")
elif (height > 65) and (age >= 18):
    print("Can ride moderate roller coasters")
elif (height > 60) and (age >= 18):
    print("Can ride light roller coaster")
elif ((height > 50) and (age >= 18)) or ((adult_permission) and (height > 50)):
    print("Can ride bumper cars")
else:
    print("Stick to lazy river")

Can ride bumper cars

In [30]:
cheer_symbol = "*\O/*"
cheer_sumbol_2= "ヘ( ^o^)ノ＼(^_^ )"

for x in cheer_symbol:
    print(x)

*
\
O
/
*

In [31]:
for letters in cheer_sumbol_2:
    print(letters)

ヘ
(

^
o
^
)
ノ
＼
(
^
_
^

)

In [32]:
print("\nWhat does that spell?!")

What does that spell?!

In [36]:
cheer = "Python"
print(cheer + "!nWoohoo! Go " + cheer + "!")

Python!nWoohoo! Go Python!

In [34]:
print(cheer_symbol * 3)

*\O/**\O/**\O/*

In [35]:
print(cheer_sumbol_2)

ヘ( ^o^)ノ＼(^_^ )

In [37]:
for x in cheer:
    print("Give me a " + x + "!")
    print(x + "!")

Give me a P!
P!
Give me a y!
y!
Give me a t!
t!
Give me a h!
h!
Give me a o!
o!
Give me a n!
n!

In [1]:
#01-Ins_Lists/solved/lists.py
#len(cheer) = 3
cheer = ["Python","FinTech","Money"]

In [2]:
cheer_symbol = "*\O/*"
cheer_symbol_2 = "ヘ( ^o^)ノ＼(^_^ )"

In [45]:
"""PRACTICE!!!"""
for i in range(len(cheer)):
    print(i)
    for x in range(len(cheer[i])):
        print(cheer[i])
#        print("Give me a " + x + "!")
#        print(x + "!")
#        print(cheer[i] + "!\nWoohoo! Go " + cheer[i] + "!")
#        print(cheer_symbol * 3)
#        print(cheer_symbol_2)

0
Python
Python
Python
Python
Python
Python
1
FinTech
FinTech
FinTech
FinTech
FinTech
FinTech
FinTech
2
Money
Money
Money
Money
Money

In [29]:
print("Creating a list of Pokemon...")
pokemon =["Pikachu","Charizard","Bulbasaur","Gyarados","Dragonite","Onyx"]
print(pokemon)

Creating a list of Pokemon...
['Pikachu', 'Charizard', 'Bulbasaur', 'Gyarados', 'Dragonite', 'Onyx']

In [30]:
print("Printing the third Pokemon...")
print(pokemon[2])

Printing the third Pokemon...
Bulbasaur

In [37]:
print("Printing 3rd Pokemon to the 5th Pokemon")
print(pokemon[2:5])
for x in range(len(pokemon[2:5])):
    print(pokemon[x+2])

Printing 3rd Pokemon to the 5th Pokemon
['Bulbasaur', 'Gyarados', 'Dragonite']
Bulbasaur
Gyarados
Dragonite

In [48]:
print("Printing every Pokemon after the first three...")
pokemon[3:]
#if it shows till the last you don't have to specify the ending

Printing every Pokemon after the first three...

['Gyarados', 'Dragonite', 'Onyx']

In [50]:
print("Printing every Pokemon up to the first three...")
pokemon[:3]
#If 0 you can omit it

Printing every Pokemon up to the first three...

['Pikachu', 'Charizard', 'Bulbasaur']

In [51]:
print("Printing every other Pokemon")
print(pokemon[::2])

Printing every other Pokemon
['Pikachu', 'Bulbasaur', 'Dragonite']

In [55]:
print("Printing the last Pokemon on the list...")
last_pokemon = pokemon[-1]
pokemon[-1]

Printing the last Pokemon on the list...

'Onyx'

In [57]:
print("Determining the order of Pokemon 'Gyarados'...")
print(pokemon)
print(pokemon.index("Gyarados"))

Determining the order of Pokemon 'Gyarados'...
['Pikachu', 'Charizard', 'Bulbasaur', 'Gyarados', 'Dragonite', 'Onyx']
3

In [58]:
print("Changing Pokemon name 'Picachu' to 'Raichu'...")
pokemon[0] = 'Raichu'
pokemon[0]

Changing Pokemon name 'Picachu' to 'Raichu'...

'Raichu'

In [59]:
pokemon

['Raichu', 'Charizard', 'Bulbasaur', 'Gyarados', 'Dragonite', 'Onyx']

In [60]:
print("adding a new Pokemon to the end of the list...")
pokemon.append("Magikarp")
pokemon[-1]

adding a new Pokemon to the end of the list...

'Magikarp'

In [61]:
pokemon

['Raichu',
 'Charizard',
 'Bulbasaur',
 'Gyarados',
 'Dragonite',
 'Onyx',
 'Magikarp']

In [64]:
print("removing 'Magikarp'...")
pokemon.remove('Magikarp')

removing 'Magikarp'...

In [65]:
pokemon

['Raichu', 'Charizard', 'Bulbasaur', 'Gyarados', 'Dragonite', 'Onyx']

In [68]:
print("Removing 'Bulbasaur' based off of its index")
bulbasaur_index = pokemon.index("Bulbasaur")
pokemon.pop(bulbasaur_index)
pokemon

Removing 'Bulbasaur' based off of its index

['Raichu', 'Charizard', 'Gyarados', 'Dragonite', 'Onyx']

In [74]:
print("Calculating the nuber of Pokemon...")
print(len(pokemon))

Calculating the nuber of Pokemon...
5

In [85]:
#for x in range(len(pokemon[x])):
for x in range(5):
    if not x == 5:
        print(x)
        print(pokemon[x])

0
Raichu
1
Charizard
2
Gyarados
3
Dragonite
4
Onyx

In [79]:
pokemon

['Raichu', 'Charizard', 'Gyarados', 'Dragonite', 'Onyx']

In [94]:
#04-Stu_Iterate_Lists
count = 0
total = 0
average = 0
minimum = 0
maximum = 0

In [87]:
profitable_days = []
unprofitable_days = []

In [91]:
trading_pnl = [-224,352,252,354,-544,-650,56,123,-43,254,325,-123,47,321,123,133,-151,613,232,-311]

In [110]:
count = 0
total = 0
average = 0
minimum = 0
maximum = 0
profitable_days = []
unprofitable_days = []

for day_pnl in trading_pnl:
#    print(day_pnl)
#    print(trading_pnl)
    total = total + day_pnl
    count = count + 1
    
    if minimum == 0:
        minimum = day_pnl
    elif day_pnl < minimum:
        minimum = day_pnl
    elif day_pnl > maximum:
        maximum = day_pnl
        
    if day_pnl > 0:
        profitable_days.append(day_pnl)
    elif day_pnl <= 0:
        unprofitable_days.append(day_pnl)

print("The total is" + str(total))
average = round(total / count, 2)

print("The average is " + str(average))
print("The maximum is " + str(maximum))
print("The minimum is " + str(minimum))


profitable_count = len(profitable_days)
unprofitable_count = len(unprofitable_days)

percent_profitable = profitable_count / count * 100
percent_unprofitable = unprofitable_count / count * 100

print("---------Summary Statistics----------")
print(f"Number of Total Days: {count}")
print(f"Number of Profitable Days: {profitable_count}")
print(f"Number of Unprofitable Days: {unprofitable_count}")
print(f"Percentage of Profitable Days: {percent_profitable}%")
print(f"Percentage of Unprofitable Days: {percent_unprofitable}%")
print("-------------------------------------")
print(f"Profitable Days: {profitable_days}")
print(f"Unprofitable Days: {unprofitable_days}")
print("-------------------------------------")
print(f"Total Profits/Losses: {total}")
print(f"Daily Average: {average}")
print(f"Worst Loss: {minimum}")
print(f"Best Gain: {maximum}")

The total is1139
The average is 56.95
The maximum is 613
The minimum is -650
---------Summary Statistics----------
Number of Total Days: 20
Number of Profitable Days: 13
Number of Unprofitable Days: 7
Percentage of Profitable Days: 65.0%
Percentage of Unprofitable Days: 35.0%
-------------------------------------
Profitable Days: [352, 252, 354, 56, 123, 254, 325, 47, 321, 123, 133, 613, 232]
Unprofitable Days: [-224, -544, -650, -43, -123, -151, -311]
-------------------------------------
Total Profits/Losses: 1139
Daily Average: 56.95
Worst Loss: -650
Best Gain: 613

In [112]:
#06-Stu_Dictionaries-Challenge
banks = {
    "National Bank of Canada": 327,
    "Toronto-Dominion Bank": 302,
    "Royal Bank of Canada": 173,
    "Wells Fargo": 273,
    "Goldman Sachs": 87,
    "Morgan Stanley": 72,
    "Canadian Imperial Bank of Commerce": 83,
    "TD Bank": 108,
    "Bank of Montreal": 67,
    "Capital One": 47,
    "FNB Corporation": 4,
    "Laurentian Bank of Canada": 3,
    "Ally Financial": 12,
    "Montreal Trust Company": 145,
    "Canadian Western Bank": .97
}

In [114]:
banks["Royal Bank of Canada"] = 170

In [115]:
banks

{'National Bank of Canada': 327,
 'Toronto-Dominion Bank': 302,
 'Royal Bank of Canada': 170,
 'Wells Fargo': 273,
 'Goldman Sachs': 87,
 'Morgan Stanley': 72,
 'Canadian Imperial Bank of Commerce': 83,
 'TD Bank': 108,
 'Bank of Montreal': 67,
 'Capital One': 47,
 'FNB Corporation': 4,
 'Laurentian Bank of Canada': 3,
 'Ally Financial': 12,
 'Montreal Trust Company': 145,
 'Canadian Western Bank': 0.97}

In [117]:
banks["Scotia Bank"] = 33

In [122]:
#Remove a bank from the dictionary
banks ["Montreal Trust Company"] = 230
del banks["Montreal Trust Company"]

In [119]:
banks

{'National Bank of Canada': 327,
 'Toronto-Dominion Bank': 302,
 'Royal Bank of Canada': 170,
 'Wells Fargo': 273,
 'Goldman Sachs': 87,
 'Morgan Stanley': 72,
 'Canadian Imperial Bank of Commerce': 83,
 'TD Bank': 108,
 'Bank of Montreal': 67,
 'Capital One': 47,
 'FNB Corporation': 4,
 'Laurentian Bank of Canada': 3,
 'Ally Financial': 12,
 'Canadian Western Bank': 0.97,
 'Scotia Bank': 33}

In [120]:
len(banks)

15

In [131]:
total_market_cap = 0
bank_count = 0
average = 0
minimum_key = ""
minimum_value = 0
maximum_key = ""
maximum_value = 0

# Mega Cap: Firms with a market capitalization greater than or equal to $300 billion.
# Large Cap: Firms with a market capitalization greater than or equal to $10 billion and less than $300 billion.
# Mid Cap: A market capitalization greater than or equal to $2 and less than $10 billion.
# Small Cap: A market capitalization greater than or equal to $300 million and less than $2 billion.
mega_caps = []
large_caps = []
mid_caps = []
small_caps = []
bank_count
for bank_name, market_cap in banks.items():
#    print(banks.items())
    print(f"Name {bank_name} | market Cap: {market_cap}")
    
    total_market_cap = total_market_cap + int(market_cap)
    bank_count = bank_count + 1
    
    if minimum_value == 0:
        minimum_value = market_cap
        minimum_key = bank_name
    elif market_cap < minimum_value:
        minimum_value = market_cap
        minimum_key = bank_name

    if market_cap > maximum_value:
        maximum_value = market_cap
        maximum_key = bank_name
        
    if market_cap >= 300:
        mega_caps.append(bank_name)
    elif market_cap >= 10 and market_cap < 300:
        large_caps.append(bank_name)
    elif market_cap >= 2 and market_cap < 10:
        mid_caps.append(bank_name)
    elif market_cap < 2 and market_cap >= .03:
        small_caps.append(bank_name)
        
avg_market_cap = round(total_market_cap / bank_count, 2)

Name National Bank of Canada | market Cap: 327
Name Toronto-Dominion Bank | market Cap: 302
Name Royal Bank of Canada | market Cap: 170
Name Wells Fargo | market Cap: 273
Name Goldman Sachs | market Cap: 87
Name Morgan Stanley | market Cap: 72
Name Canadian Imperial Bank of Commerce | market Cap: 83
Name TD Bank | market Cap: 108
Name Bank of Montreal | market Cap: 67
Name Capital One | market Cap: 47
Name FNB Corporation | market Cap: 4
Name Laurentian Bank of Canada | market Cap: 3
Name Ally Financial | market Cap: 12
Name Canadian Western Bank | market Cap: 0.97
Name Scotia Bank | market Cap: 33

In [132]:
# Print the metrics
print(f"Total Market Capitalization: {total_market_cap}")
print(f"Total Number of Banks: {bank_count}")
print(f"Average Market Capitalization: {avg_market_cap}")
print(f"Largest Bank: {maximum_key}")
print(f"Smallest Bank: {minimum_key}")
print("------------------------------------------------")
print(f"Mega Cap Banks: {mega_caps}")
print(f"Large Cap Banks: {large_caps}")
print(f"Mid Cap Banks: {mid_caps}")
print(f"Small Cap Banks: {small_caps}")

Total Market Capitalization: 1588
Total Number of Banks: 15
Average Market Capitalization: 105.87
Largest Bank: National Bank of Canada
Smallest Bank: Canadian Western Bank
------------------------------------------------
Mega Cap Banks: ['National Bank of Canada', 'Toronto-Dominion Bank']
Large Cap Banks: ['Royal Bank of Canada', 'Wells Fargo', 'Goldman Sachs', 'Morgan Stanley', 'Canadian Imperial Bank of Commerce', 'TD Bank', 'Bank of Montreal', 'Capital One', 'Ally Financial', 'Scotia Bank']
Mid Cap Banks: ['FNB Corporation', 'Laurentian Bank of Canada']
Small Cap Banks: ['Canadian Western Bank']

In [81]:
#08-stu_Nesting Challenge
historical_stock_data = {
    "AAPL": [
        ["04-17-2019", 199.54, 203.38, 198.61, 203.13],
        ["04-18-2019", 199.46, 201.37, 198.56, 199.25],
        ["04-19-2019", 198.58, 199.85, 198.01, 199.23],
        ["04-20-2019", 199.20, 200.14, 196.21, 198.87],

    ],
    "MU": [
        ["04-17-2019", 43.20, 43.53, 42.79, 43.40],
        ["04-18-2019", 43.36, 44.05, 42.76, 43.15],
        ["04-19-2019", 42.26, 42.93, 42.08, 42.76],
        ["04-20-2019", 42.17, 42.23, 41.20, 41.82],

    ],
    "AMD": [
        ["04-17-2019", 27.60, 27.88, 27.34, 27.68],
        ["04-18-2019", 28.21, 28.27, 27.22, 27.49],
        ["04-19-2019", 27.72, 28.18, 27.49, 27.93],
        ["04-20-2019", 27.80, 27.84, 26.96, 27.33],

    ],
    "TWTR": [
        ["04-17-2019", 34.67, 34.86, 34.32, 34.40],
        ["04-18-2019", 34.73, 34.90, 34.20, 34.48],
        ["04-19-2019", 34.84, 34.99, 34.23, 34.46],
        ["04-20-2019", 34.38, 35.03, 34.34, 34.71],

    ]
}

#print(historical_stock_data["MU"][04-17-2019])

In [5]:
new_records = {
    "AAPL": {
        "date": "04-21-2019",
        "open": 200.85,
        "high": 201.00,
        "low": 198.44,
        "close": 198.95
    },
    "MU": {
        "date": "04-21-2019",
        "open": 42.85,
        "high": 43.20,
        "low": 41.81,
        "close": 42.01
    },
    "AMD": {
        "date": "04-21-2019",
        "open": 28.21,
        "high": 28.38,
        "low": 27.66,
        "close": 27.85
    },
    "TWTR": {
        "date": "04-21-2019",
        "open": 34.67,
        "high": 34.83,
        "low": 34.11,
        "close": 34.37
    }
}

In [7]:
# Set each ticker's new record: date, open, high, low, close
new_aapl_record = [new_records['AAPL']['date'], new_records['AAPL']['open'],new_records['AAPL']['high'],new_records['AAPL']['low'],new_records['AAPL']['close']]
new_mu_record = [new_records['MU']['date'],new_records['MU']['open'],new_records['MU']['high'],new_records['MU']['low'],new_records['MU']['close']]
new_amd_record = [new_records['AMD']['date'], new_records['AMD']['open'], new_records['AMD']['high'], new_records['AMD']['low'], new_records['AMD']['close']]
new_twtr_record = [new_records['TWTR']['date'], new_records['TWTR']['open'], new_records['TWTR']['high'], new_records['TWTR']['low'], new_records['TWTR']['close']]

In [8]:
print(new_aapl_record)

['04-21-2019', 200.85, 201.0, 198.44, 198.95]

In [9]:
historical_stock_data['AAPL'].append([new_aapl_record])
historical_stock_data['MU'].append([new_mu_record])
historical_stock_data['AMD'].append([new_amd_record])
historical_stock_data['TWTR'].append([new_aapl_record])

In [23]:
#print(historical_stock_data['AAPL'])
print(historical_stock_data.items())

dict_items([('AAPL', [['04-17-2019', 199.54, 203.38, 198.61, 203.13], ['04-18-2019', 199.46, 201.37, 198.56, 199.25], ['04-19-2019', 198.58, 199.85, 198.01, 199.23], ['04-20-2019', 199.2, 200.14, 196.21, 198.87], [['04-21-2019', 200.85, 201.0, 198.44, 198.95]]]), ('MU', [['04-17-2019', 43.2, 43.53, 42.79, 43.4], ['04-18-2019', 43.36, 44.05, 42.76, 43.15], ['04-19-2019', 42.26, 42.93, 42.08, 42.76], ['04-20-2019', 42.17, 42.23, 41.2, 41.82], [['04-21-2019', 42.85, 43.2, 41.81, 42.01]]]), ('AMD', [['04-17-2019', 27.6, 27.88, 27.34, 27.68], ['04-18-2019', 28.21, 28.27, 27.22, 27.49], ['04-19-2019', 27.72, 28.18, 27.49, 27.93], ['04-20-2019', 27.8, 27.84, 26.96, 27.33], [['04-21-2019', 28.21, 28.38, 27.66, 27.85]]]), ('TWTR', [['04-17-2019', 34.67, 34.86, 34.32, 34.4], ['04-18-2019', 34.73, 34.9, 34.2, 34.48], ['04-19-2019', 34.84, 34.99, 34.23, 34.46], ['04-20-2019', 34.38, 35.03, 34.34, 34.71], [['04-21-2019', 200.85, 201.0, 198.44, 198.95]]])])

In [36]:
results = {}

"""ticker_data(example)"AAPL":[["04-17-2019", 199.54, 203.38, 198.61, 203.13],["04-18-2019", 199.46, 201.37, 198.56, 199.25],["04-19-2019", 198.58, 199.85, 198.01, 199.23],["04-20-2019", 199.20, 200.14, 196.21, 198.87]]"""
""" Dic:Indx Dic:Elements"""
for ticker, ticker_data in historical_stock_data.items(): 
    beginning_week_close = ticker_data[0][4]
    ending_week_close = ticker_data[3][4]
#    print(historical_stock_data.items())
    print("Begenning ", beginning_week_close)
    print("Ending ", ending_week_close)
    ticker_weekly_change = round((ending_week_close - beginning_week_close)/beginning_week_close * 100,2)
#    ticker_weekly_change = (ending_week_close - beginning_week_close)/beginning_week_close * 100
    print(ticker_weekly_change)
    results[ticker] = ticker_weekly_change
    print(results[ticker])
    print(ticker)

Begenning  203.13
Ending  198.87
-2.1
-2.1
AAPL
Begenning  43.4
Ending  41.82
-3.64
-3.64
MU
Begenning  27.68
Ending  27.33
-1.26
-1.26
AMD
Begenning  34.4
Ending  34.71
0.9
0.9
TWTR

In [42]:
#10-Stu_functions
beginning_bal = 29000.00
ending_bal = 45000.00
years = 1.0

year_one_diff = ending_bal - beginning_bal

def calculate_compound_growth_rate(beginning_bal, ending_bal, years):
    growth_rate = (ending_bal / beginning_bal)**(1/years) -1
    return growth_rate

year_one_growth = calculate_compound_growth_rate(beginning_bal, ending_bal, years)

beginning_bal = 45000.00
ending_bal = 47000.00
#years = 2.0
year_two_diff  = ending_bal - beginning_bal

year_two_growth = calculate_compound_growth_rate(beginning_bal, ending_bal, years)


beginning_bal = 47000.00
ending_bal = 48930.00
#years = 3.0
year_three_diff = ending_bal - beginning_bal


year_three_growth = calculate_compound_growth_rate(beginning_bal, ending_bal, years)

year_one_growth_rnd = round(year_one_growth,2)
year_two_growth_rnd = round(year_two_growth,2)
year_three_growth_rnd = round(year_three_growth,2)

print("FIrst year growth is ",year_one_diff)
print(f"Compound Annual Growth Rate for 2016: {year_one_growth_rnd}%")
print("Second year growth is ",year_two_diff)
print(f"Compound Annual Growth Rate for 2017: {year_two_growth_rnd}%")
print("Third year growth is ",year_three_diff)
print(f"Compound Annual Growth Rate for 2018: {year_three_growth_rnd}%")

FIrst year growth is  16000.0
Compound Annual Growth Rate for 2016: 0.55%
Second year growth is  2000.0
Compound Annual Growth Rate for 2017: 0.04%
Third year growth is  1930.0
Compound Annual Growth Rate for 2018: 0.04%

In [74]:
growth_rates = list()
growth_rate_chart = {'year':[],'growth_rate':[]}
years = 1

def calculate_compound_growth_rate_list(beginning_bal, ending_bal, years, year_name, ctr):
    growth_rate = (ending_bal/beginning_bal)**(1/years) -1
    growth_rates.append(round(growth_rate,2))
    
    growth_rate_chart['year'].append(ctr)
    growth_rate_chart['growth_rate'].append(round(growth_rate,2))
    
beginning_bal = 29000.00
ending_bal = 45000.00
year_name = "First year"
ctr = 1
calculate_compound_growth_rate_list(beginning_bal, ending_bal, years, year_name, ctr)

beginning_bal = 45000.00
ending_bal = 47000.00
year_name = "Second year"
ctr = 2
calculate_compound_growth_rate_list(beginning_bal, ending_bal, years, year_name, ctr)

beginning_bal = 47000.00
ending_bal = 48930.00
year_name = "Third year"
ctr = 3
calculate_compound_growth_rate_list(beginning_bal, ending_bal, years, year_name, ctr)

#print(growth_rates)
#print("Year ",growth_rate_chart['year'], f" | Growth rate is {growth_rate_chart['growth_rate']}%")

for y, gro_rate in growth_rate_chart.items():
    print(growth_rate_chart['growth_rate'])
    
print(growth_rate_chart)
print(growth_rate_chart.keys())

[0.55, 0.04, 0.04]
[0.55, 0.04, 0.04]
{'year': [1, 2, 3], 'growth_rate': [0.55, 0.04, 0.04]}
dict_keys(['year', 'growth_rate'])

In [55]:
employee = {'name':'Tom', 'age':25, 'payroll':['RBC','TD']}
print(employee)

{'name': 'Tom', 'age': 25, 'payroll': ['RBC', 'TD']}

In [2]:
#Class3 01-Ins_Refresher
title = "Frankfurter"
years = 23
hourly_wage = 65.4
expert_status = True

x = 1
y = 10

if x == 1:
    print("X is equal to 1")
else:
    print("X is not equal to 1")

X is equal to 1

In [3]:
pokemon = ["Pikachu","Charizard","Bulbasaur","Garydos","Dragonite","Onyx"]
print(pokemon)

['Pikachu', 'Charizard', 'Bulbasaur', 'Garydos', 'Dragonite', 'Onyx']

In [6]:
del pokemon[-1]

In [8]:
print(pokemon[0::2])

['Pikachu', 'Bulbasaur', 'Dragonite']

In [11]:
trading_pnl = {}

trading_pnl = {
    "title": "Trading Log",
    "03-18-2019": -224,
    "03-19-2019": 352,
    "03-20-2019": 252,
    "03-21-2019": 354,
    "03-22-2019": -544,
    "03-23-2019": -650,
    "03-24-2019": 56,
    "03-25-2019": 123,
    "03-26-2019": -43,
    "03-27-2019": 254,
    "03-28-2019": 325,
    "03-29-2019": -123,
    "03-30-2019": 47,
    "03-31-2019": 321,
    "04-01-2019": 123,
    "04-02-2019": 133,
    "04-03-2019": -151,
    "04-04-2019": 613,
    "04-05-2019": 232,
    "04-06-2019": -311
}
print(trading_pnl)

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311}

In [13]:
for x in range (5):
    print(x)

0
1
2
3
4

In [22]:
#count = 0
#for title, trading_log in len(trading_pnl):
#    print(trading_pnl[count][0]
#    count = count + 1 

print(trading_pnl["title"][1])
len(trading_pnl)

r

21

In [24]:
def main(word):
    print(f"Your message is {word}")

main("Hello World")

Your message is Hello World

In [25]:
ceo_nested_dict = [
  {
      "name": "Warren Buffet",
      "age": 88,
      "occupation": "CEO of Berkshire Hathaway"
  },
  {
      "name": "Jeff Bezos",
      "age": 55,
      "occupation": "CEO of Amazon"
  },
  {
      "name": "Harry Markowitz",
      "age": 91,
      "occupation": "Professor of Finance"
  }
]

for x in ceo_nested_dict:
    print(x)

{'name': 'Warren Buffet', 'age': 88, 'occupation': 'CEO of Berkshire Hathaway'}
{'name': 'Jeff Bezos', 'age': 55, 'occupation': 'CEO of Amazon'}
{'name': 'Harry Markowitz', 'age': 91, 'occupation': 'Professor of Finance'}

In [26]:
print(ceo_nested_dict)

[{'name': 'Warren Buffet', 'age': 88, 'occupation': 'CEO of Berkshire Hathaway'}, {'name': 'Jeff Bezos', 'age': 55, 'occupation': 'CEO of Amazon'}, {'name': 'Harry Markowitz', 'age': 91, 'occupation': 'Professor of Finance'}]

In [30]:
print (ceo_nested_dict[0])

{'name': 'Warren Buffet', 'age': 88, 'occupation': 'CEO of Berkshire Hathaway'}

In [31]:
print(ceo_nested_dict[0]["age"])

88

In [35]:
customers = [
    { "first_name": "Tom", "last_name": "Bell", "revenue": 0 },
    { "first_name": "Maggie", "last_name": "Johnson", "revenue": 1032 },
    { "first_name": "John", "last_name": "Spectre", "revenue": 2543 },
    { "first_name": "Susy", "last_name": "Simmons", "revenue": 5322 }
]

In [54]:
def greetings(f_name,l_name,revenue):
    
    if revenue >= 3001:
        tier = "Platinum"
    elif revenue <= 3000 and revenue >= 2001:
        tier = "Gold"
    elif revenue <= 2000 and revenue >= 1001:
        tier = "Silver"
    else:
        tier = "Bronze"
    
    return tier

for customer in customers:
    message = greetings(customer["first_name"],customer["last_name"],customer["revenue"])
    print(message)
    print("Congratulations customer ", customer["first_name"], " ",customer["last_name"], "Your revenue is ", customer["revenue"], "!!. You are ", message, " customer!")

    print(customers[0]["first_name"])

Bronze
Congratulations customer  Tom   Bell Your revenue is  0 !!. You are  Bronze  customer!
Tom
Silver
Congratulations customer  Maggie   Johnson Your revenue is  1032 !!. You are  Silver  customer!
Tom
Gold
Congratulations customer  John   Spectre Your revenue is  2543 !!. You are  Gold  customer!
Tom
Platinum
Congratulations customer  Susy   Simmons Your revenue is  5322 !!. You are  Platinum  customer!
Tom

In [55]:
import datetime
 
today = datetime.datetime.today()
print(f"{today:%B %d, %Y}")

November 26, 2022

In [71]:
#04-Stu_Time_Value_of_Money

def calculate_present_value(f_value, discount_rate, compounding_periods, years):
    
    present_value = f_value/(1+(discount_rate/compounding_periods))**(compounding_periods * years)
    
    present_value_formatted = round(present_value,2)

    return round(present_value,2)
#    return present_value_formatted

In [76]:
price = 400
f_value = 1000
discount_rate = 0.5
compounding_periods = 1
years = 5

bond_value = calculate_present_value(f_value, discount_rate, compounding_periods, years)

In [77]:
if bond_value > price:
    discount = round(bond_value - price,2)
    print(f"The bond is selling at a price of ${price} and is valued at ${bond_value}.")
    print(f"A discount of {discount} exists, therefore you want to buy the bond.")
elif bond_value < price:
    premium = round(price-bond_value,2)
    print(f"The bond is selling at a price of ${price} and is valued at ${bond_value}.")
    print(f"A premium of {premium} exists, therefore you do not want ot buy the bond.")
else:
    print(f"The bond is selling at a price of ${price} and is valued at ${bond_price}.")
    print(f"The bond is selling at its present value, you are newtral")

The bond is selling at a price of $400 and is valued at $131.69.
A premium of 268.31 exists, therefore you do not want ot buy the bond.

In [81]:
#Class 3 06-Stu_Imports
import numpy_financial as npf

discount_rate=.1

cash_flows_conservative=[-1000,400,400,400,400]
cash_flows_neutral=[-1500,600,600,600,600]
cash_flows_aggressive=[-2250,800,800,800,800]

In [79]:
npv_dict = {}

In [84]:
npv_dict['conservative']=npf.npv(discount_rate, cash_flows_conservative)
npv_dict['nuetral']=npf.npv(discount_rate, cash_flows_neutral)
npv_dict['aggressive']=npf.npv(discount_rate, cash_flows_aggressive)

print(npv_dict)

{'conservative': 267.94617853971704, 'nuetral': 401.91926780957544, 'aggressive': 285.8923570794341}

In [86]:
for npv_dic in npv_dict:
    print(npv_dict[npv_dic])

267.94617853971704
401.91926780957544
285.8923570794341

In [88]:
max_value = 0
max_key = 0

for key, value in npv_dict.items():
    print(f"{key}{value}")
    
    if max_value ==0:
        max_value = value
        max_key = key
    elif value > max_value:
        max_value = value
        max_key = key

conservative267.94617853971704
nuetral401.91926780957544
aggressive285.8923570794341

In [89]:
print("---------------------------------------------------------")
print(f"The project scenario with the max NPV value is '{max_key}' with a NPV of {max_value}")

---------------------------------------------------------
The project scenario with the max NPV value is 'nuetral' with a NPV of 401.91926780957544

In [90]:
#07-Ins_File_IO

from pathlib import Path

In [91]:
print(f"Current working directory: {Path.cwd()}")

Current working directory: C:\Users\keito\uoft_fintech\module2\python_practice

In [92]:
filepath = Path("C:/Users/keito/uoft_fintech/module2/python_practice/customer_traffic.txt")

In [110]:
max_num = 0
min_num = 0

with open(filepath, "r") as file:
    text = file.read()
#    print(text)
    
    line_num = 1
    for line in file:
        print(line_num)
        print(f"line {line_num}: {line}")
        line_num = line_num + 1
        
output_path = Path("kei.txt")

with open(output_path, "w") as file:
    file.write("This is an output file. \n")
    file.write(text)
        
#file.close()

In [1]:
#Class3 10-Stu_CSV_Reader
from pathlib import Path
import csv

In [2]:
csvpath = Path("C:/Users/keito/uoft_fintech/module2/python_practice/sales.csv")

In [3]:
analysis = {}

In [14]:
with open(csvpath, "r") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",") #read file dividing by ,
    csv_header = next(csvreader) #Skip the first line: Header
    print(csv_header)
   
    for row in csvreader:
        #print(row)
        
        name = row[0]
        count = int(row[1])
        revenue = int(row[2])
        print(row[0],row[1], row[2])
        
        
        average = round(revenue/count,2)
        
        if name not in analysis.keys():
            analysis[name]={"count": count, "revenue":revenue}
        else:
            analysis[name]["count"] += count
            analysis[name]["revenue"] += revenue   
            
print(analysis)

['Name', 'Count', 'Revenue']
Andrew 9 58
Phil 8 377
Madison 5 302
Sally 1 75
Tyler 1 334
Billy 7 146
Steve 1 178
Madison 7 313
Sarah 8 103
Tim 5 344
Andrew 5 349
Phil 8 61
Madison 4 196
Carl 1 374
Devon 9 220
Megan 9 321
Sarah 7 277
David 2 246
Sally 9 198
Tom 5 221
Andrew 1 191
Paul 5 399
Carl 1 300
Tim 1 345
Madison 4 202
John 4 305
Phil 6 249
Madison 7 113
Sally 6 256
{'Andrew': {'count': 84, 'revenue': 3048}, 'Phil': {'count': 118, 'revenue': 3812}, 'Madison': {'count': 147, 'revenue': 5932}, 'Sally': {'count': 81, 'revenue': 2720}, 'Tyler': {'count': 6, 'revenue': 2004}, 'Billy': {'count': 42, 'revenue': 876}, 'Steve': {'count': 6, 'revenue': 1068}, 'Sarah': {'count': 75, 'revenue': 1900}, 'Tim': {'count': 30, 'revenue': 3445}, 'Carl': {'count': 10, 'revenue': 3370}, 'Devon': {'count': 45, 'revenue': 1100}, 'Megan': {'count': 45, 'revenue': 1605}, 'David': {'count': 10, 'revenue': 1230}, 'Tom': {'count': 25, 'revenue': 1105}, 'Paul': {'count': 25, 'revenue': 1995}, 'John': {'count': 20, 'revenue': 1525}}

In [24]:
header = ["Name","Count","Revenue","Average"]
kei_path = Path("kei.csv")

with open(kei_path, "w",newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=",")
    csvwriter.writerow(header)
    
    for name in analysis:
        csvwriter.writerow(
            [
                name,
                analysis[name]["count"],
                analysis[name]["revenue"],
                round(analysis[name]["revenue"] / analysis[name]["count"],2),
            ]
        )


#with open(kei_path, "w",newline='') as csvfile:
#    csvwriter = csv.writer(csvfile, delimiter=",")
#    csvwriter.writerow(header)
#    
#    for name in analysis:
#        csvwrite.writerow(
#            [
#                name,
#                analysis[name]["count"],
#                analysis[name]["revenue"],
#                round(analysis[name]["revenue"] /analysis[name]["count"],2),
#            ]
#        )
#    csvfile.close()